<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
<head>
  <!-- Trusted Site JS -->
  <script type="text/javascript" src="https://cdn.ywxi.net/js/1.js" async></script>
  <!-- -->

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>Questions</title>
  <!-- favicon -->
    <link rel="icon" href="http://fractalcoding.club/static/images/blacklogo.png" type="image/png" sizes="16x16">


  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
  <link rel="stylesheet" href="/static/css/common.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">

  <!-- jQuery library -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

  <!-- Popper JS -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>

  <!-- Latest compiled JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
  <style>
    *:focus {
    outline: 0;
    outline: none;
    }
  </style>
</head>

<body>
  <form method="post" action="{% url 'scrape' %}">
    {% csrf_token %}
    <button type="submit" class="btn btn-primary">click</button>
  </form>

<div class="container" style="text-align: center">
  <h1>Submissions on SPOJ.</h1>
  <hr/>
</div>

<div class="container">
  <!--table-->
  <table class="table table-striped">
  <thead class="thead-dark">
    <tr>
      <th scope="col">ID NO.</th>
      <th scope="col">USERNAME</th>
      <th scope="col">PROBLEM LINK</th>
      <th scope="col">TIME</th>
      <th scope="col">RESULT</th>
      <th scope="col">LANGUAGE</th>
    </tr>
  </thead>
    {% for i in abc %}
    <tr>
      <td>{{ i.id_no }}</td>
      <td><a href={{ i.link_username }}>{{ i.username }}</a></td>
      <td><a href={{ i.problem_link }}>{{ i.problem_name }}</a></td>
      <td>{{ i.time_string }}</td>
      <td>{{ i.result }}</td>
      <td>{{ i.language }}</td>
    </tr>
    {% endfor %}

</table>
</div>

</body>
</html>
